In [7]:
import pandas as pd

In [102]:
df_credits = pd.read_parquet('Archivos/credits_final.parquet', engine='fastparquet')

In [103]:
df_credits.head(1)

,cas_actor1,cas_actor2,cas_actor3,cas_actor4,cas_actor5,cas_actor6,cas_actor7,cas_actor8,cas_actor9,cas_actor10,crew_Director,id
0,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Ratzenberger,Annie Potts,John Morris,Erik von Detten,Laurie Metcalf,John Lasseter,862

In [86]:
df_movies = pd.read_parquet('Archivos/movies_dataset_f.parquet', engine='fastparquet')

In [90]:
df_movies = df_movies[['budget', 'id', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'release_year', 'return']]

In [93]:
df_movies.columns

Index(['budget', 'id', 'popularity', 'release_date', 'revenue', 'title',
       'vote_average', 'vote_count', 'release_year', 'return'],
      dtype='object')

In [91]:
Conteo = 0
for indice, fila in df_credits.iterrows():
    if fila is not None:
      for i in range(0 , 9):
           if fila[i] == 'Tom Hanks':
               Conteo += 1

In [92]:
Conteo

65

In [84]:
suma = 0
for i in range(0, len(df_credits)):
    if df_credits['cas_actor10'][i] == 'Tom Hanks':
        suma += 1