In [7]:
import pandas as pd

In [104]:
df_union = pd.read_parquet('Archivos/df_union.parquet', engine='fastparquet')

In [121]:
df_union.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cas_actor1     43097 non-null  object
 1   cas_actor2     41768 non-null  object
 2   cas_actor3     40858 non-null  object
 3   cas_actor4     39726 non-null  object
 4   cas_actor5     37248 non-null  object
 5   cas_actor6     34564 non-null  object
 6   cas_actor7     31872 non-null  object
 7   cas_actor8     29113 non-null  object
 8   cas_actor9     26343 non-null  object
 9   cas_actor10    23749 non-null  object
 10  crew_Director  44616 non-null  object
 11  id             45451 non-null  int64
 12  budget         45451 non-null  int32
 13  popularity     45451 non-null  float64
 14  release_date   45451 non-null  datetime64[ns]
 15  revenue        45451 non-null  int32
 16  title          45451 non-null  object
 17  vote_average   45451 non-null  float64
 18  vote_count     45451 non-null  float64
 19  release_year   45451 non-null  int32
 20  return         45451 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(3), int64(1), object(12)
memory usage: 6.8+ MB

In [136]:
df_union.head(3)

,cas_actor1,cas_actor2,cas_actor3,cas_actor4,cas_actor5,cas_actor6,cas_actor7,cas_actor8,cas_actor9,cas_actor10,...,id,budget,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return
0,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Ratzenberger,Annie Potts,John Morris,Erik von Detten,Laurie Metcalf,...,862,30000000,21.946943,1995-10-30,373554033,Toy Story,7.7,5415.0,1995,12.451801
1,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce,Bonnie Hunt,Bebe Neuwirth,David Alan Grier,Patricia Clarkson,Adam Hann-Byrd,Laura Bell Bundy,...,8844,65000000,17.015539,1995-12-15,262797249,Jumanji,6.9,2413.0,1995,4.043035
2,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren,Daryl Hannah,Burgess Meredith,Kevin Pollak,None,None,None,...,15602,0,11.712900,1995-12-22,0,Grumpier Old Men,6.5,92.0,1995,0.000000

In [131]:
df_union['budget'][0]

30000000

In [137]:
df_union['crew_Director'][5]

'Michael Mann'

In [133]:
datos = []
Retorno = 0
if df_union is not None:
   for i in range(0, len(df_union)):
        if df_union['crew_Director'][i] == 'John Lasseter':
            datos.append({"Titulo": str(df_union['title'][i]), "Fecha de lanzamiento": str(df_union['release_date'][i]), "Costo": str(df_union['budget'][i]), "Ganancia": str(df_union['revenue'][i] - df_union['budget'][i])})
            Retorno += df_union['return'][i]
   datos.append({"Exito segun retorno": str(Retorno)})

In [130]:
Retorno

21.00525680277778

In [135]:
type(datos)

list